.flag {
	width: 16px;
	height: 11px;
	background:url(flags.png) no-repeat
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae, .flag.flag-AED {background-position: -32px 0}
.flag.flag-af, .flag.flag-AFN {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al, .flag.flag-ALL {background-position: -96px 0}
.flag.flag-am, .flag.flag-AMD {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar, .flag.flag-ARS {background-position: -160px 0}
.flag.flag-as, .flag.flag-AUD {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az, .flag.flag-AZN {background-position: -240px 0}
.flag.flag-ba, .flag.flag-BAM {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd, .flag.flag-BDT {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg, .flag.flag-BGN {background-position: -80px -11px}
.flag.flag-bh, .flag.flag-BHD {background-position: -96px -11px}
.flag.flag-bi, .flag.flag-BIF {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn, .flag.flag-BND {background-position: -160px -11px}
.flag.flag-bo, .flag.flag-BOB {background-position: -176px -11px}
.flag.flag-br, .flag.flag-BRL {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw, .flag.flag-BWP {background-position: 0 -22px}
.flag.flag-by, .flag.flag-BYR {background-position: -16px -22px}
.flag.flag-bz, .flag.flag-BZD {background-position: -32px -22px}
.flag.flag-ca, .flag.flag-CAD {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd, .flag.flag-CDF {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch, .flag.flag-CHF {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl, .flag.flag-CLP {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn, .flag.flag-CNY {background-position: -208px -22px}
.flag.flag-co, .flag.flag-COP {background-position: -224px -22px}
.flag.flag-cr, .flag.flag-CRC {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv, .flag.flag-CVE {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz, .flag.flag-CZK {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj, .flag.flag-DJF {background-position: -96px -33px}
.flag.flag-dk, .flag.flag-DKK {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do, .flag.flag-DOP {background-position: -144px -33px}
.flag.flag-dz, .flag.flag-DZD {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee, .flag.flag-EEK {background-position: -192px -33px}
.flag.flag-eg, .flag.flag-EGP {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er, .flag.flag-ERN {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et, .flag.flag-ETB {background-position: -32px -44px}
.flag.flag-eu, .flag.flag-EUR {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb, .flag.flag-GBP {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge, .flag.flag-GEL {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh, .flag.flag-GHS {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn, .flag.flag-GNF {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt, .flag.flag-GTQ {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk, .flag.flag-HKD {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn, .flag.flag-HNL {background-position: -240px -55px}
.flag.flag-hr, .flag.flag-HRK {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu, .flag.flag-HUF {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id, .flag.flag-IDR {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il, .flag.flag-ILS {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in, .flag.flag-INR {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq, .flag.flag-IQD {background-position: -160px -66px}
.flag.flag-ir, .flag.flag-IRR {background-position: -176px -66px}
.flag.flag-is, .flag.flag-ISK {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm, .flag.flag-JMD {background-position: -240px -66px}
.flag.flag-jo, .flag.flag-JOD {background-position: 0 -77px}
.flag.flag-jp, .flag.flag-JPY {background-position: -16px -77px}
.flag.flag-ke, .flag.flag-KES {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh, .flag.flag-KHR {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km, .flag.flag-KMF {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr, .flag.flag-KRW {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw, .flag.flag-KWD {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz, .flag.flag-KZT {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb, .flag.flag-LBP {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk, .flag.flag-LKR {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt, .flag.flag-LTL {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv, .flag.flag-LVL {background-position: -112px -88px}
.flag.flag-ly, .flag.flag-LYD {background-position: -128px -88px}
.flag.flag-ma, .flag.flag-MAD {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md, .flag.flag-MDL {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg, .flag.flag-MGA {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk, .flag.flag-MKD {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm, .flag.flag-MMK {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo, .flag.flag-MOP {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu, .flag.flag-MUR {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx, .flag.flag-MXN {background-position: -192px -99px}
.flag.flag-my, .flag.flag-MYR {background-position: -208px -99px}
.flag.flag-mz, .flag.flag-MZN {background-position: -224px -99px}
.flag.flag-na, .flag.flag-NAD {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng, .flag.flag-NGN {background-position: -48px -110px}
.flag.flag-ni, .flag.flag-NIO {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no, .flag.flag-NOK {background-position: -96px -110px}
.flag.flag-np, .flag.flag-NPR {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz, .flag.flag-NZD {background-position: -160px -110px}
.flag.flag-om, .flag.flag-OMR {background-position: -176px -110px}
.flag.flag-pa, .flag.flag-PAB {background-position: -192px -110px}
.flag.flag-pe, .flag.flag-PEN {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph, .flag.flag-PHP {background-position: 0 -121px}
.flag.flag-pk, .flag.flag-PKR {background-position: -16px -121px}
.flag.flag-pl, .flag.flag-PLN {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py, .flag.flag-PYG {background-position: -144px -121px}
.flag.flag-qa, .flag.flag-QAR {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro, .flag.flag-RON {background-position: -192px -121px}
.flag.flag-rs, .flag.flag-RSD {background-position: -208px -121px}
.flag.flag-ru, .flag.flag-RUB {background-position: -224px -121px}
.flag.flag-rw, .flag.flag-RWF {background-position: -240px -121px}
.flag.flag-sa, .flag.flag-SAR {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd, .flag.flag-SDG {background-position: -64px -132px}
.flag.flag-se, .flag.flag-SEK {background-position: -80px -132px}
.flag.flag-sg, .flag.flag-SGD {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so, .flag.flag-SOS {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy, .flag.flag-SYP {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th, .flag.flag-THB {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn, .flag.flag-TND {background-position: -240px -143px}
.flag.flag-to, .flag.flag-TOP {background-position: 0 -154px}
.flag.flag-tr, .flag.flag-TRY {background-position: -16px -154px}
.flag.flag-tt, .flag.flag-TTD {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw, .flag.flag-TWD {background-position: -64px -154px}
.flag.flag-tz, .flag.flag-TZS {background-position: -80px -154px}
.flag.flag-ua, .flag.flag-UAH {background-position: -96px -154px}
.flag.flag-ug, .flag.flag-UGX {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us, .flag.flag-USD {background-position: -144px -154px}
.flag.flag-uy, .flag.flag-UYU {background-position: -160px -154px}
.flag.flag-uz, .flag.flag-UZS {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve, .flag.flag-VEF {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn, .flag.flag-VND {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-ye, .flag.flag-YER {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-za, .flag.flag-ZAR {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm, .flag.flag-ZMK {background-position: -160px -165px}
.flag.flag-zw {background-position: -176px -165px}
